@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500&display=swap');

body, html {
    padding : 0px;
    margin : 0px;
    height : 100%;
    color : white;
    /* 모든 문자에 대해 중앙으로 배치 */
    text-align: center;
}

.wrapper {
    display : flex;
    flex-direction: column;
    height: 100%;
    width : 100%;
}

.hidden {
    display : none;
}

.backgroundImage {
    display : flex;
}

.backgroundImage img{
    position: absolute;
    z-index : -1;
    height : 100vh;
    width : 100%;
}

.header {
    display : flex;
    flex-direction: column;
    font-family: 'Unbounded', cursive;
}

.header__one {
    display : flex;
    justify-content: space-between;
    padding : 3% 3% 0% 3%;
}

.main__content {
    display : flex;
    flex : 1;
    flex-direction: column;
    align-items: center;
}

.main__time {
    font-size : 1.883em;
    padding-bottom : 5%;
}

.quote {
    padding-bottom: 3%;
}